# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/node_modules/
.yaml

# Distribution / packaging
.Python
env/
./build/
develop-eggs/
dist/
bin/
lib64
pyvenv.cfg
share/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Django stuff:
*.log

local_settings.py
*.sqlite3
*.backup


# Local static and media file storage (only when running in development mode)
StockTrack/media
StockTrack/static
media
static
stocktrack_media
stocktrack_static

# Local config file
config.yaml

# Key file
secret_key.txt
.txt
# IDE / development files
.idea/
*.code-workspace
.vscode/

# Coverage reports
.coverage
htmlcov/


config_template.yaml